<!-- public/partials/edittopic.html -->
<!-- page for creating edit topic -->
<div class="container-card">

  <h2> <center>Topic</center></h2>  
  <h3> <center>{{topic}}</center></h3>  
  
  <br></br>

      
  <input type="text" class="topic_name_section" ng-model="topic_name">

  <h2> <center>Content</center></h2>  
  <h3> <center>{{content}}</center></h3>  

    <input type="text" class="form-control" ng-model="topic_description">
 
    <button class="todo-button" ng-click="go('/')">Cancel</button>

    <button class="todo-button"  ng-click="editTopic()">Done</button>

</div>